<div class="main-container">
  <ul class="container-wrapper">
    <li *ngFor="let customer of fullcustomerDetails;" (click)="getAddressDetails(customer)">
      <div class="card" [ngClass]="{'activeCustomer': selectedCustomer == customer['emp-id']}">
        <img
          [src]="customer.sex === 'Male' ? '../../assets/images/img_avatar.png' : '../../assets/images/img_avatar2.png'"
          alt="Avatar" style="width:100%">
        <div class="container">
          <h4 class="card-title"><b>{{customer.name}}</b></h4>
          <p class="card-info">{{customer.Age}}</p>
          <p class="card-info">{{customer.sex}}</p>
        </div>
      </div>
    </li>
  </ul>

  <div class="addressDetailsContainer" *ngIf="addressDetails.length > 0">
    <h1>Address Details of Customer</h1>
    <ul class="container-wrapper">
      <li *ngFor="let address of addressDetails">
        <div class="card">
          <div class="container">
            <h4 class="card-title"><b>{{address.street}}</b></h4>
            <p class="card-info"><b>Postal Code: </b>{{address.postalCode}}</p>
            <p class="card-info"><b>City: </b>{{address.city}}</p>
            <p class="card-info"><b>Country Code: </b>{{address.countryCode}}</p>
            <p class="card-info"><b>Country: </b>{{address.country}}</p>
            <p class="card-info"><b>Details: </b>{{address.text}}</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
